img{
    width: 400px;
    height: 400px;
}
.bill{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px;
    gap: 20px;
}
.steve{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px;
    gap: 20px;
}
.elon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px;
    gap: 20px;
}
.berg{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px;
    gap: 20px;
}
.green{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px;
    gap: 20px;
}